@media only screen and (max-width:1100px){  
    
  .logo-desk{
      display: none ;
  }
  .nav-sub li a{
    color: #fff;
  }
  .logo-mob{
      display: block;
      align-self: center;
      height: 187px;
  }
  .top-nav{
      display: none;
  }
  .navbar{
      background:#408186;
      top: 0%;
      justify-content: space-between;
      position: fixed;
      width: 100%;
      height: 77px;
  }
  .nav-sub{  
    position:fixed;   
    top:10vh;  
    right:0px;  
    width: 100%;
    flex-direction:column;  
    background-color:#408186;  
    height: 100vh;
    transform:translate(100%); 
    justify-content: unset; 
    gap: 1%;
    z-index: 90;
   } 
   .nav-s{  
    position:fixed;   
    top:10vh;  
    right:0px;  
    width: 100%;
    flex-direction:column;   
    height: 100vh;
    transform:translate(100%); 
    justify-content: unset; 
    gap: 1%;
    z-index: 300;
    margin-top: 160px;
   }
   .list-item{
    margin-left: 54px;
    margin-top: 10px;
    color: #fff;
    font-weight: 500;
   } 
   .nav-sub li a{
     color:#fff;
   }
  .nav-change{  
    transform:translate(0%);  
   }  
   .nav-chan{  
    transform:translate(0%);  
   }
   .nav-link{
     color:#fff;
     font-weight: 500;
   }
   .nav-l{
     font-size: 14px;
   }
   .nav-link:hover{
    color:#e8d994;
    text-decoration: underline #e8d994;
    line-height: 3px;
   }
  
  .ham{  
    display:block; 
    margin-left: -57px; 
   }  
  .change .bar1 {  
   transform: rotate(-45deg) translate(-4px,14px);  
  }  
  .change .bar2 {  
   opacity: 0;  
  }  
  .change .bar3 {  
    transform: rotate(45deg) translate(0,-10px); 
  }  
  .desk-none{
    display: block;
  }
  .desk-none a{
    font-size: 12px;
  }
  .d-bold{
    margin-top: 40px;
  }
  .d-bold a{
    font-weight: 900;
    font-size: 14px;
  }
  .home-banner{
    flex-direction:column;
  }
  
  .home-bann-content {
    margin:0px;
    margin-left: 30px;
  }
  .home-bann-content h1 {
    font-size: 35px;
    width: 80%;
    letter-spacing: 2px;
  }
  .home-bann-content h3 {
    font-size: 16px;
    width: 80%;
    margin-top: 6px;
  }
  .home-bann-content p{
    font-size: 18px;
    width: 90%;
    margin-top: 14px;
    line-height: 23px;
  }
  .home-bann-content .sch-tour{
    display: none;
  }
  .home-banner-right{
    position: unset;
    order:1;
  }
  .home-banner-left{
    order:2;
    z-index: -1;
    margin-top: 30px;
  }
  .home-banner-right .home-hero{
    max-width: 100%;
    width: 100%;
    height: 400px;
  }
  .cen{
    flex-direction: column;
  }
  .century{
    margin:0;
  }
  .c-desk{
  display: none;
  }
  .cen .century-right img{
    max-width:100%;
    width: 100%;
    margin-top: -146px
  }
  .century h5{
  font-size: 24px;
  margin-top: 31px;
  text-align: left;
  padding-left: 34px;
  width: 87%;
  font-weight: 700;
  }
  .c-mob{
    display: block;
  }
  .century-left{
    margin-top: 0px;
    width: 100%;
    padding: 18px 34px;
  }
  .img-anicon img{
    width: 95%;
  }
  .img-anicon{
    margin-top: 45px;
  }
  .right-image-content p {
    padding: 54px 78px;
  }
  .image-two{
    margin-top: 26px;
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
}
.left-image{
  width: 100%;
  float: none;
  margin-top:20px;
}
.right-image{
  width: 100%;
  float: none;
}
.right-image img{
  display:none;
}
.right-image-content p{
    padding: 42px 0px;
    font-size: 18px;
    line-height: 22px;
    margin-left:30px;
}
.right-image-content a {
  margin-left: 29px;
  }
  .newly-content{
    flex-direction:column;
  }
  .newly-left{
    order:2;
    margin-bottom: 80px;
  }
  .newly-right{
    order:1;
    margin-top:-40px;
  }
  .newly-right img{
    width:100%;
    height: 350px;
    max-width: 100%;
  }
  .n-r-none{
    display:none;
  }
  .n-r-mob{
    display:block;
  }
  .newly-refresh h2{
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
    line-height: 39px;
    margin-left:28px;
    margin-top:33px;
    width: 90%;
  }
  .newly-refresh{
    margin-top:72px;
  }
  .newly-left p{
    padding: 35px 30px;
    font-size: 18px;
  }
  .newly-left .sch-tour {
    margin-left: 32px;
  }
  .sch-tour{
    padding: 12px 26px 12px 24px;
    }
    .century-left p{
      margin-bottom:47px;
      font-size: 18px;
    }

    .footer-content h2{
      display: none;
    }
    .footer-logo{
      display: none;
    }
    .logo-white-mob{
      display: block;
      margin-left: -180px;
      margin-top: 30px;
    }
    .social-icons-mob{
    display: flex;
    justify-content: center;
    margin-left: -232px;
    margin-top: 33px;
    gap: 5%;
    }
    .Avalibility{
      display: none;
    }
    .Features{
      display: none;
    }
    .right-b-ul{
      display: block;
      margin-left: -224px;
      margin-top: -89px;
      font-size: 14px;
    }
    .footer-logo{
      text-align: center;
    }
    .footer-logo img{
      margin: 0;
      margin-top: 30px;
    }
    .add {
      margin:0;
    }
    .social-icons{
      display: none;
    }
   .sticky{
     display: none;
   }
    .left-block{
      flex-direction: row;
      margin: 0;
      gap: 9%;
      margin-top: 280px;
    }
    .footer-content{
      margin: 0;
      padding: 0;
    }
    .right-block{
      width: auto;
      margin-top: 140px;
    }
    .next-block{
      gap: 0%;
      justify-content: center;
      margin-top: 50px;
    }
    .right-b-ul li{
      text-align:-webkit-center;
    }
    .privacy-disp-mob{
      display: block;
  }
  .first-l img{
    width: 71px;
  }
  .sec-l img{
    width: 150px;
  }
  .first-l{
    order:2;
  }
  .sec-l{
    order:1;
  }
  .add p{
    margin-top: -79px;
  }
  .privacy-disp-mob{
    margin-top: 52px;
    font-weight: 500;
  }
  .email{
    margin-top: 10px;
  }
  .phone{
    font-weight: 500;
  }
  .wp-block-image{
    margin: 0;
}
.gallery-grid{
  grid-gap:1%;
}
.gallery-title h1{
  font-size: 24px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-left: 20px;
}
.sticky{
  display: contents;
}
.neigh-second-img img{
  width: 450px;
}
.neigh-second-paragraph p{
  font-size: 17px;
  padding-bottom: 10px;
 }
 .neigh-home-content{
   margin-top: 40%;
 }

 .neigh-home-content h1{
   font-size: 60px;
   width: 70%;
 }
 .neigh-second-paragraph{
  margin-top: 100px;
  padding: 20px;
 }
 .neighborhood_last_content p{
   padding: 60px;
   margin-top: 60px;
 }
 .neigh-img-mobile{
   display: block;
 }
 .neigh-img-mobile h1{
   padding-left: 20px;
   padding-top: 30px;
 }
 .Here p{
   font-size: 17px;
   width: 100%;
 }
 .accordion .label{
   font-size: 16px;
 }
 .content p{
   font-size: 18px;
 }
 .accordion .label::before {
   content: '›';
 }
.di{
  display: none;
}
.contact-header {
  padding-top: 80px;
}
.wpcf7-submit {
  width: 20%;
  margin-left: 55%;
 
}
.contact-header p{
display:none;
}
.contact-header h2 {
font-size: 40px;
margin-left: 20px;
}
.nav-neigh{
width:150%;
}
.neighborhood_last_image img{
  margin-top: 70px;
}
  }  
  @media only screen and (min-width:280px) and (max-width:768px){
  
     .neigh-img-mobile img{
      display: block;
      width: 100%;
    }
     .neigh-second-img{
       width: 100%;
     }
     .Neigh-second-part{
       flex-direction: column;
     }
     .neigh-home-content h1{
       color: #000;
       font-size: 24px;
       width: 90%;
       text-align: left;
       font-weight: 500;
       margin-left:23px;
     }
     .neigh-home-content{
       position: unset;
       margin-top: 5%;
     }
     .neigh-home-content a{
       display: none;
     }
     .neigh-second-img{
       display: none;
     }
     .neigh-second-paragraph {
       padding: 23px;
       margin-top: -110px;
     }
     .Neigh-second-part{
       margin-top: 95px;
     }
     .neigh-banner{
       display: none;
     }
     .neighborhood_last_content p{
       display: none;
     }
     .gallery-title{
      margin:0;
      width: 70%;
    }
    .address-fields ul{
      flex-direction: column;
    }

  }
 
  @media only screen and (min-width:1101px) and (max-width:1296px){
    .navbar{
      gap:2%;
    }
    
    .home-bann-content h1{
      width:65%;
    }
    .home-bann-content h3{
      width:40%;
    }
    .century-right img{
      width: 90%;
    }
    .century {
      margin-top: 177px;
    }
    .century-left {
      margin-top: 176px;
      margin-left: -30px;
    }
    .img-anicon img{
      width: 95%;
    }
    .newly-right img{
      width:631px;
    }
    .newly-left p{
    padding: 52px 88px;
    font-size:21px;
    }
    .century-left p{
      margin-bottom:47px;
    }
    .footer-content{
      justify-content: space-between;
    }
    .footer-content h2{
      font-size: 50px;
    }
    .footer-logo img{
      margin-left: 30px;
    }
    
    .newly-refresh h2{
      width: 55%;
    }
    .gallery-title h1{
      font-size: 80px;
    }
    .neigh-second-paragraph {
      padding: 20px;
      margin-top: 230px;
  }
  .neigh-home-content h1{
    width: 75%;
  }
 
  }
  @media only screen and (min-width:600px) and (max-width:1101px){
    .home-banner-right .home-hero{
      display:none;
    }
    .neigh-img-mobile h1{
      font-size: 30px;
    }
    .home-mob{
      display: block;
      width: 100%;
      height: auto;
    }
    .home-bann-content p{
      font-size: 21px;
    }
    .left-image{
      width: 49%;
      float: left;
  }
  .century-left p{
    margin-bottom:35px;
    font-size:18px;
  }
  .image-two{
    margin-top: 97px;
  }
  .right-image{
      width: 51%;
      float: left;
  }
  .left-image img{
      width: 100%;
      vertical-align: top; 
  }
  .right-image img{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-top:19px;
    }
    .right-image-content p{
        padding: 16px;
        font-size: 18px;
    }
    .right-image-content a{
        margin-left: 43px;
    }
    .sch-tour{
      padding: 9px 15px 8px 15px;
      font-size: 14px;
    }
    .newly-left p{
      font-size:18px;
    }
    .gallery-title h1{
      font-size: 40px;
    }
    .gallery-title{
      width: 80%;
      margin: 0;
    }

  }

  @media only screen and (min-width:2000px){
    .home-banner-right .home-hero {
      max-width: 100%;
      width: 1384px;
      height: 1019px;
      object-fit: cover;
      object-position: top;
  }
  .century h5{
    margin-top: 400px;
  }
  .home-bann-content {
    margin-left: 221px;
  }
 
  .img-anicon img{
    width: 80%;
    max-width: 100%;
  }
  .cenc{
    margin-top: 550px;
  }
  .cen{
    justify-content: center;
  }
  .newly-left{
    width: 50%;
  }
  .newly-content{
    justify-content: center;
  }
  .right-b-ul{
    justify-content: left;
    gap: 5%;
  }
  .footer-content{
    justify-content:space-between;
  }
  .next-block{
    justify-content:space-between;
    gap: 0%;
  
  }
  .right-block{
    width: 55%;
  }
  .foot-new{
    width: 70%;
    margin: auto;
  }
  .add p{
    width: 100%;
  }
  .top-nav{
    justify-content:end;
  }
  .century-left p{
    width: 70%;
  }
  .right-image-content p{
    width: 70%;
  }
  .newly-left p {
    width: 80%;
  }
  .image-two {
    width: 80%;
    margin: auto;
    margin-top: 126px;
    display: flex;
}
.gallery-title{
  width: 80%;
  margin: auto;
  margin-top: 250px;
}
.social-icons{
  gap: 0%;
}
}

@media only screen and (min-width:280px) and (max-width:500px){
.wpcf7-submit {
width: 40%;
margin: 0;
float: left;
margin-left: 15%;
}
.address-fields ul{
text-align: left;
margin-top: 60px;
}
.address-fields ul li {
padding-left: 10px;
padding-top: 10px;
}
.contact-header h2{
font-size: 24px;
}
.nav-neigh {
width: 110%;
}

}